a {
    cursor: pointer;
}

hr {
    border: none;
    margin: 0;
    padding: 0;
}

ol {
    padding-left: 0;
}

.clickable {
    color: #0000ee;
    cursor: pointer;
    text-decoration: underline;
}

area.clickable {
    display: block;
}

.hyperpng-background {
    position: relative;
}

.hyperpng-container {
    position: relative;
}

.inline,
.inline > div {
    display: inline;
}

.monospace {
    font-family: monospace;
    white-space: pre;
}

.monospace.overflow {
    white-space: pre;
}

/* .overflow {
    white-space: nowrap;
} */

.overlay {
    position: absolute;
}

.title {
    display: inline-block;
}

.visibility-none {
    display: none;
}
